<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oregon Trail</title>
    <link rel="stylesheet" href="/css/mainmenu.css">
  </head>
  <body>
    <img src="/images/oregontrail.jpg" alt="Oregon Trail">
    <h1 id="title">Main Menu</h1>
    <ol>
      <li><input type="button"value="Travel the trail"></li>
      <li><input type="button"value="Learn about the trail"></li>
      <li><input type="button"value="See the Oregon top 10"></li>
      <li><input type="button"value="Turn Sound (Off / On)"></li>
    </ol>
    <h1 id="choice">Select an option</h1>
    <script type="text/javascript" src="js/mainmenu.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
  </body>
</html>
