<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oregon Trail</title>
    <link rel="stylesheet" href="/css/setup.css">
  </head>
  <body>
    <img src="/images/oregontrail.jpg" alt="Oregon Trail">
    <h1 id="Setup">Setup</h1>
    <ol>
      <li><input type="button"value="Be a banker from Boston"></li>
      <li><input type="button"value="Be a carpenter from Ohio"></li>
      <li><input type="button"value="Be a farmer from Illinois"></li>
      <li><input type="button"value="Find out the differences between the choices"></li>
    </ol>
    <h1 id="choice">what is your choice?</h1>
    <input id="spacbar" type="button"value="Press the spacebar to return to main menu">
    <script type="text/javascript" src="js/setup.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
  <!-- <script type="text/javascript">
    document.body.addEventListener("keyup", function(e){
      if (e.key == " ")
        window.location.href = "/mainmenu.html";
    });-->
  </body>
</html>
