<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oregon Trail</title>
    <link rel="stylesheet" href="/css/topten.css">
  </head>
  <body>
    <img src="/images/oregontrail.jpg" alt="Oregon Trail">
    <table>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>name</td>
        <td>score</td>
        <td>date</td>
      </tr>
    </table>
    <input type="button"value="Press the spacebar to return to mainmenu">
    <script type="text/javascript" src="topten.js"></script>
    <script type="text/javascript" src="global.js"></script>
  </body>
</html>
