<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oregon Trail</title>
    <link rel="stylesheet" href="/css/topten.css">
  </head>
  <body>
    <img src="/images/oregontrail.jpg" alt="Oregon Trail">
    <h1 id="title">Top Ten</h1>
    <table id= table1>
      //gave table an ID
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Date</th>
      </tr>
      <tr id = "row1">
        <td id = "row1Name"></td>
        <td id = "row1Score"></td>
        <td id = "row1Date"></td>
      </tr>
      <tr id = "row2">
        <td id = "row2Name"></td>
        <td id = "row2Score"></td>
        <td id = "row2Date"></td>
      </tr>
      <tr id = "row3">
        <td id = "row3Name"></td>
        <td id = "row3Score"></td>
        <td id = "row3Date"></td>
      </tr>
      <tr id = "row4">
        <td id = "row4Name"></td>
        <td id = "row4Score"></td>
        <td id = "row4Date"></td>
      </tr>
    </table>
    <input type="button"value="Press the spacebar to return to main menu">
    <script type="text/javascript" src="js/topten.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript">
    /*document.body.addEventListener("keyup", function(e){
     if (e.key == " ")
        window.location.href = "/mainmenu.html";
    }); */
    </script>
  </body>
</html>
