<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <<title>Oregon Trail</title>
    <link rel="stylesheet" href="/css/trail.css">
  </head>
  <body>
    <img src="/images/oregontrail.jpg" alt="Oregon Trail">
    <div id="backimg">
    </div>
    <div id="list">
      <li>Days on trail</li>
      <li>Miles traveled</li>
      <li>Party health status</li>
      <li>Current weather</li>
      <li>Current pace</li>
      <li>Current Terrain</li>
      <li># of party members alive</li>
    </div>
    <input type="button"value="Press the spacebar to return to main menu">
    <script type="text/javascript" src="js/trail.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
  </body>
</html>
