body {
  text-align: center;
  background-image: url("/images/splash.jpg");
  color: black;
}

#title {
  margin: 13%;
  font-size: 600%;
}

#fadetext {
  opacity: 1;
  transition: 1s opacity;
  font-size: 240%;
}
