body {
  text-align: center;
  background: black;
  color: black;
}
img {
  height: 20%;
  width:50%;
}
h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 5%;
}
table {
  height: 20%;
  width:50%;
  font-size:300%;
  margin:25%;
  margin-top: 0;
  margin-bottom: 0;
  color: tan;
  background-color: black;
  outline: none;
  border: none;
}
td {
  padding-top: 5%;
  padding-bottom: 5%;
}
input {
  margin-top: 5%;
  font-size:200%;
  background: black;
  color: white;
  outline: none;
  border: none;
}
