body {
  text-align: center;
  background: black;
  color: black;
}
img {
  height: 20%;
  width:50%;
}
#backimg {
  background-image: url("/images/wagon.jpg");
  width: 800px;
  height: 450px;
}
#list {
  list-style: none;
  text-align: left;
  margin-top: 0%;
  font-size:100%;
  background: black;
  color: tan;
}
input {
  margin-top: 0%;
  font-size:200%;
  background: black;
  color: white;
  outline: none;
  border: none;
}
